
@media screen and (min-width:1420px) {
    /* 머티리얼 아이콘 */
    .material-icons-outlined{font-family: 'Material Icons';}

    /* 컨텐츠 크기 */
    [class *= "width"]{margin: 0 auto; width: calc(100% - 80px);}
    /* 1760px - 메인 */
    .width01{max-width: 1760px;}
    /* 1200px - 서브 */
    .width02{max-width: 1200px;}

    /* 텍스트 접근성 - 안보이게 처리 */
    .textHidden{height: 0.001px; overflow: hidden;}

    /* 버튼 */
    .btnCase01{display: block; margin: 0 auto; width: 175px; line-height: 60px; font-size: 22px; font-weight: 500; color: white; text-align: center; background-color: black;}

    /* 서브페이지 */
    /* 서브페이지 - 타이틀 */
    .subPage > [class $= "Page"]{padding: 110px 0 140px;}
    .subPage > [class $= "Area"]{padding: calc(110px + 90px) 0 140px;}
    .subPage > [class $= "Page"] .subTitle{font-family: 'Bebas Neue'; font-size: 86px; line-height: 300px; color: white; text-align: center; letter-spacing: 40px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    /* 서브타이틀 - company */
    .subPage.companyPage .subTitle{background-image: url('../images/company-BG.png');}
    /* 서브타이틀 - technology */
    .subPage.technologyPage .subTitle{background-image: url('../images/technology-BG.png');}
    /* 서브타이틀 - pipeline */
    .subPage.pipelinePage .subTitle{background-image: url('../images/pipeline-BG.png');}
    /* 서브타이틀 - careers */
    .subPage.careersPage .subTitle{background-image: url('../images/careers-BG.png');}
    /* 서브타이틀 - careers */
    .subPage.newsPage .subTitle{background-image: url('../images/news-BG.png');}

    /* 서브페이지 - 서브메뉴 */
    .subPage .subMenu{display: flex; max-width: 1200px; margin:0 auto 90px;}
    .subPage .subMenu li{flex: 1; }
    .subPage .subMenu :is(li.active , li:hover) a{border-color: #722282;}
    .subPage .subMenu li a{display: block; font-size: 24px; font-weight: 700;  color: rgba(0, 0, 0, 0.6); height: 90px; display: flex; justify-content: center; align-items: center; border-bottom: 4px solid rgba(0, 0, 0, 0.1); box-sizing: border-box;}
    .subPage .subMenu :is(li.active , li:hover) a{color: #722282;}

    /* 서브페이지 - 서브 타이틀 */
    .subPage > [class $= "Page"] h3:not([class]){font-size: 32px; font-weight: 500; text-align: center; margin-bottom: 50px;}
    /* 서브페이지 - 서브 타이틀 (색상) */
    .subPage > [class $= "Page"] h4{text-align: center;}
    .subPage > [class $= "Page"] h4 mark{font-size: 40px; font-weight: 700; line-height: 1.125;}
    /* 서브페이지 - 서브 텍스트 (색상) */
    .subPage > [class $= "Page"] h4 ~ p{font-size: 22px; line-height: 1.454; color: #000a29;}
    .subPage > [class $= "Page"] h4 ~ small{display: block; font-size: 16px; color: rgba(0, 10, 41, 0.7);}
    .subPage > [class $= "Page"] h4 ~ .contentsBox{margin-top: 70px;}
    .subPage > [class $= "Page"] h4 ~ span{display: block; font-size: 20px; color: rgba(0, 0, 0, 0.6); margin-top: 20px;}
    .subPage > [class $= "Page"] h4[data-bigText]{position: relative;}
    .subPage > [class $= "Page"] h4[data-bigText]::before{content: attr(data-bigText); font-size: 220px; font-weight: 700; color: rgba(114, 34, 130, 0.2); letter-spacing: 10px;}
    .subPage > [class $= "Page"] h4[data-bigText] mark{position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%);}
    /* 서브페이지 - 서브 텍스트 (색상) 간격 */
    .subPage > [class $= "Page"] h4 + p{margin-top: 20px;}
    .subPage > [class $= "Page"] h4 + small{margin-top: 20px;}
    .subPage > [class $= "Page"] h4 + p + small{margin-top: 20px;}
    .subPage > [class $= "Page"] h4 ~ .contentsBox ~ p{margin-top: 45px;}
    /* 서브페이지 - 컨텐츠 사이 간격 */
    .subPage > [class $= "Page"] > section:not(:last-child){margin-bottom: 140px;}

    /* 서브페이지 - 디테일 페이지 */
    .detailBox strong{display: block; font-size: 30px; font-weight: 500; margin-bottom: 40px;}
    .detailBox strong time{display: block; font-size: 24px; color: rgba(0, 0, 0, 0.5); margin-top: 20px;}
    .detailBox .contentsBox img{max-width: 100%; margin-bottom: 50px;}
    .detailBox .contentsBox *{font-size: 20px; line-height: 1.5;}
    .detailBox .prevNext{border-width: 2px 0; border-style: solid; border-color: rgba(0, 0, 0, 0.2); margin-top: 50px;}
    .detailBox .prevNext a{display: flex; align-items: center; height: 70px; padding: 0 30px; font-size: 20px; color: rgba(0, 0, 0, 0.5);}
    .detailBox .prevNext a::before{color: black; margin-right: 80px;}
    .detailBox .prevNext a:nth-child(1):before{content: '이전글';}
    .detailBox .prevNext a:nth-child(2):before{content: '다음글';}
    .detailBox .prevNext a::after{content: ''; order: -1; width: 17px; height: 10px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 20px;}
    .detailBox .prevNext a:nth-child(1):after{background-image: url('../images/detail-prev.png');}
    .detailBox .prevNext a:nth-child(2):after{background-image: url('../images/detail-next.png');}
    .detailBox .prevNext a:not(:last-child){border-bottom: 2px solid rgba(0, 0, 0, 0.2);}
    .detailBox > a{margin-top: 60px;}


    /* 게시판 */
    /* 게시판 목록 */
    .boardBox .boardArea{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .boardBox .boardArea li{width: 31.66%; background-color: #f7f7f7;}
    .boardBox .boardArea li:not(:nth-child(-n + 3)){margin-top: 2.51%;}
    .boardBox .boardArea li a{display: flex; flex-direction: column; width: 100%; min-height: 345px; padding: 50px 40px; box-sizing: border-box;}
    .boardBox .boardArea li a b{display: block; font-size: 22px; margin-bottom: 25px;}
    .boardBox .boardArea li a :is(p , dl){font-size: 20px; line-height: 1.65;}
    .boardBox .boardArea li a dl{display: flex;}
    .boardBox .boardArea li a dl dt::after{content: ':'; padding: 0 5px;}
    .boardBox .boardArea li a time{margin-top: auto; font-size: 20px; color: rgba(0, 0, 0, 0.5);}
    /* 게시판 페이지 */
    .boardBox .pageBox{font-size: 18px; font-weight: 500; display: flex; justify-content: center; align-items: center; margin-top: 45px;}
    .boardBox .pageBox > a{display: flex; align-items: center;}
    .boardBox .pageBox > a span{font-size: 20px;}
    .boardBox .pageBox ol{display: flex; justify-content: center; align-items: center;}
    .boardBox .pageBox ol li a{padding: 0 15px; color: #a1a1a1;}
    .boardBox .pageBox ol :is(li.active , li:hover) a{color: black;}



    /* 해더 */
    header{position: fixed; left: 0; top: 0; width: 100%; height: 110px; background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.5); z-index: 100; transition: 0.5s background-color;}
    header > div{height: 100%; display: flex; justify-content: space-between; align-items: center;}
    header > div h1{width: 210px; height: 54px;}
    header > div h1 a{display: block; height: 100%; text-indent: -9999px; background-image: url('../images/logo.png'); background-repeat: no-repeat; background-position: center; background-size: cover; transition: 0.5s background-image;}
    header > div div{display: none;}
    header > div nav{position: absolute; left: 50%; top: 0; height: 100%; transform: translateX(-50%);}
    header > div nav ul{height: 100%; display: flex;}
    header > div nav ul li{height: 100%;}
    header > div nav ul li a{height: 100%; display: flex; align-items: center; padding: 0 50px; font-size: 22px; font-weight: 500;}
    header > div > a{width: 44px; line-height: 44px; background-color: black; border-radius: 100%; font-size: 15px; font-weight: 500; color: white; text-align: center;}

    /* 메인 화이트 해더 */
    header.whiteCase{background-color: transparent; border: none;}
    header.whiteCase div h1 a{background-image: url('../images/logo_white.png');}
    header.whiteCase div nav ul li a{color: white;}
    header.whiteCase div > a{background-color: rgba(255, 255, 255, 0.6); color: #100646;}
    /* 메인 화이트 해더 호버*/
    header.whiteCase:hover{background-color: white; border: none;}
    header.whiteCase:hover div h1 a{background-image: url('../images/logo.png');}
    header.whiteCase:hover div nav ul li a{color: black;}
    header.whiteCase:hover div > a{background-color: black; color: white;}


    /* 푸터 */
    footer{padding: 60px 0; background-color: #164194;}
    footer div{display: flex; flex-direction: column; align-items: center; position: relative;}
    footer div h2{position: absolute; left: 0; top: 0; max-width: 210px;}
    footer div h2 img{width: 100%;}
    footer div ul{position: absolute; right: 0; top: 0; display: flex;}
    footer div ul li:not(:last-child){margin-right: 55px;}
    footer div ul li a{font-size: 16px; font-weight: 900; color: rgba(255, 255, 255, 0.6);}
    footer div address{display: flex; flex-wrap: wrap; max-width: 700px; font-style: normal; font-size: 17px; font-weight: 300; color: rgba(255, 255, 255, 0.7); line-height: 1.764; margin-bottom: 25px;}
    footer div address b{width: 100%;}
    footer div address dl{display: flex; margin-right: 15px;}
    footer div address dl dt::after{content:':'; padding: 0 5px;}
    footer div p{max-width: 700px; width: 100%; font-size: 13px; color: rgba(255, 255, 255, 0.3);}
}