@media screen and (min-width:1420px) {
    /* 메인 */
    .mainArea > *{height: 100vh;}
    .mainArea .BGArea{ color: white; background: url('../images/main_BG.png') no-repeat center / cover;}
    .mainArea .BGArea > div{height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; position: relative;}
    .mainArea .BGArea > div :is(h2, p){max-width: 920px; width: 100%;}
    .mainArea .BGArea > div h2{font-family: 'Bebas Neue'; font-size: 84px; font-weight: 400; line-height: 120px; letter-spacing: 36px; margin-bottom: 50px;}
    .mainArea .BGArea > div h2 span{font-family: inherit; display: block; position: relative; z-index: 0;}
    .mainArea .BGArea > div h2 span::before{content: ''; position: absolute; left: 0; bottom: 25px; width: 0; height: 35px; background-color: #e09302; z-index: -1;}
    .mainArea .BGArea > div p{font-size: 25px; font-weight: 300;}
    .mainArea .BGArea > div > a{font-family: 'Sora'; position: absolute; right: 0; bottom: 55px; font-size: 14px; padding-bottom: 15px;}
    .mainArea .BGArea > div > a::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: white;}
    .mainArea .BGArea > div > a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: white;}
    .mainArea .BGArea > div > a:hover::before{opacity: 0;}
    .mainArea .BGArea > div > a:hover::after{width: 100%; transition: 1s width;}
    .mainArea .BGArea > div > a span{vertical-align: bottom; padding-left: 10px;}
    .mainArea .BGArea > div .scrollArea{font-family: 'Sora'; position: absolute; left: 70px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 300;}
    .mainArea .BGArea > div .scrollArea span{display: block; width: 2px; height: 40px; background-color: rgba(255, 255, 255, 0.5); margin: 0 auto 20px; position: relative;}
    .mainArea .BGArea > div .scrollArea span::after{content: ''; position: absolute; left: 50%; top: 8px; transform: translate(-50%,-50%); width: 6px; height: 6px; background-color: white; border-radius: 100%;}

    header.whiteCase + .mainArea .BGArea > div h2 span::before{ animation: mainTitle 1s 1s forwards;}
    @keyframes mainTitle {
        0%{width: 0;}
        100%{width: 100%;}
    }
    .mainArea .BGArea > div .scrollArea span::after{animation: mainScrollIcon 1s alternate infinite linear;}
    @keyframes mainScrollIcon {
        0%{top: 20%;}
        100%{top: 80%;}
    }

    .mainArea .contentsArea ul{height: 100%; padding-top: 110px;  box-sizing: border-box; display: flex; flex-direction: column; flex-wrap: wrap; align-content: space-between;}
    .mainArea .contentsArea ul li{width: calc((100% - 20px) / 3); background-repeat: no-repeat; background-position: center; background-size: cover;}
    .mainArea .contentsArea ul li:not(:nth-child(3)){height: calc((88.6% - 10px) /2 ); margin-bottom: 10px;}
    .mainArea .contentsArea ul li:nth-child(1){background-image: url('../images/main_BG01.png'); }
    .mainArea .contentsArea ul li:nth-child(2){background-image: url('../images/main_BG02.png'); }
    .mainArea .contentsArea ul li:nth-child(3){background-image: url('../images/main_BG03.png'); height: 88.6%;}
    .mainArea .contentsArea ul li:nth-child(4){background-image: url('../images/main_BG04.png'); }
    .mainArea .contentsArea ul li:nth-child(5){background-image: url('../images/main_BG05.png'); }
    .mainArea .contentsArea ul li a{font-family: 'Sora'; display: block; height: 100%; padding: 6.8%; font-size: 30px; font-weight: 600; color: white; text-transform: uppercase; box-sizing: border-box;}


    /* 회사 company */
    .overviewPage{overflow: hidden;}
    /* company - 회사개요 - 회사개요 */
    .companyPage .overviewArea > div{}
    .companyPage .overviewArea > div > div.textArea{font-size: 18px; background: rgb(108,177,213); background: linear-gradient(90deg, rgba(108,177,213,1) 0%, rgba(154,125,208,1) 100%); position: relative; margin-bottom: 20px;}
    .companyPage .overviewArea > div > div.textArea::after{content: ''; position: absolute; right: 0; top: 0; width: 0; height: 0; border-width: 1em 0em 1em 1em; border-style: solid; border-color: white transparent; }
    .companyPage .overviewArea > div > div.textArea p{font-weight: 500; line-height: 2; color: white; text-align: center; }
    .companyPage .overviewArea > div > div:not([class]){display: flex; justify-content: space-between; margin-bottom: 27px;}
    .companyPage .overviewArea > div > div:not([class]) p{font-size: 16px; font-weight: 500; color: #416e9e; height: 62px; display: flex; justify-content: center; align-items: center; background-color: #ecf2f8; border-radius: 100em; text-align: center;}
    .companyPage .overviewArea > div > div:not([class]) p:nth-child(1){width: 60.5%;}
    .companyPage .overviewArea > div > div:not([class]) p:nth-child(2){width: 38%;}
    .companyPage .overviewArea ol::before{content: ''; display: block; height: 4px; background: rgb(117,25,134); background: linear-gradient(90deg, rgba(117,25,134,1) 0%, rgba(31,59,138,1) 100%);}
    .companyPage .overviewArea ol::after{content: ''; display: block; clear: both;}
    .companyPage .overviewArea ol li{float: left; width: 24%; display: flex; flex-direction: column;}
    .companyPage .overviewArea ol li:not(:last-child){margin-right: 1.333%;}
    .companyPage .overviewArea ol li::after{content: ''; order: -1; display: block; width: 12px; height: 12px; border: 2px solid #751986; border-radius: 100%; background-color: white; transform: translateY(calc(-50% - 2px)); margin-bottom: 4px;}
    .companyPage .overviewArea ol li::before{content: attr(data-year); font-size: 22px; font-weight: 700; color: #751986; line-height: 31px; margin-bottom: 20px;}
    .companyPage .overviewArea ol li[data-year]::before{background-repeat: no-repeat; background-position: 65px center;}
    .companyPage .overviewArea ol li[data-year="2015"]::before{background-image: url('../images/company-overview-2015.png');}
    .companyPage .overviewArea ol li[data-year="2021"]::before{background-image: url('../images/company-overview-2021.png');}
    .companyPage .overviewArea ol li div{font-size: 18px; line-height: 1.333; text-align: center; height: 135px; display: flex; justify-content: center; padding: 0 60px; align-items: center; border: 1px solid #751986; border-radius: 0 25px 25px;}
    .companyPage .overviewArea ol li:not(:last-child) div{color: #751986;}
    .companyPage .overviewArea ol li:last-child div{color: white; background-color: #751986;}

    /* company - 회사개요 - 미션 및 비전 */
    .companyPage .missionArea .imgBox{background-image: url('../images/company-overview-mission.png'); height: 940px;}

    /* company - 회사개요 - CIArea */
    .companyPage .CIArea div{height: 390px; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 40px;}
    .companyPage .CIArea div::before{content: ''; position: absolute; left: calc(-1 * ((100vw - 100%) / 2)); top: 0; width: 100vw; height: 100%; background-color: #f7f7f7; z-index: -1;}
    .companyPage .CIArea div img{width: 38%;}
    .companyPage .CIArea dl{display: flex; font-size: 24px; font-weight: 500; margin-bottom: 20px;}
    .companyPage .CIArea dl dt::after{content: ':'; padding: 0 4px; vertical-align: bottom;}
    .companyPage .CIArea p{font-size: 22px;}

    /* company - 리더쉽 팀 */
    .companyPage .personArea > li{display: flex; justify-content: space-between; align-items: center;}
    .companyPage .personArea > li:not(:last-child){margin-bottom: 40px;}
    .companyPage .personArea > li div{display: flex; flex-direction: column; align-items: center; padding: 0 6%;}
    .companyPage .personArea > li div strong{font-size: 24px; font-weight: 700; color: rgba(0, 0, 0, 0.5); margin-bottom: 20px;}
    .companyPage .personArea > li div strong mark{font-size: 40px;}
    .companyPage .personArea > li div > mark{display: block; width: 173px; line-height: 42px; font-size: 18px; font-weight: 700; text-align: center; background-color: #f0e8f3; border-radius: 100em;}
    .companyPage .personArea > li ul{width: 69%; padding: 30px 8% 30px 13%; box-sizing: border-box; background-color: #f7f7f7; border-radius: 10000px; position: relative; min-height: 170px; display: flex; flex-direction: column; justify-content: center;}
    .companyPage .personArea > li ul::before{content: ''; position: absolute; left: 0; top: 50%; width: 160px; height: 160px;  transform: translate(-50px , -50%); background-repeat: no-repeat; background-position: center; background-size: cover;}
    .companyPage .personArea > li:nth-child(1) ul::before{background-image: url('../images/company-leadership-img01.png');}
    .companyPage .personArea > li:nth-child(2) ul::before{background-image: url('../images/company-leadership-img02.png');}
    .companyPage .personArea > li:nth-child(3) ul::before{background-image: url('../images/company-leadership-img03.png');}
    .companyPage .personArea > li ul li{font-size: 20px; line-height: 1.6; text-transform: uppercase; display: flex; align-items: center;}
    .companyPage .personArea > li ul li::before{content: '·'; font-size: 1.5em; line-height: 0; padding: 5px;}

    /* company - contact us */
    .companyPage .contactUsArea iframe{width: 100%; margin-bottom: 40px;}
    .companyPage .contactUsArea img{margin-bottom: 35px;}
    .companyPage .contactUsArea b{display: block; font-size: 22px; font-weight: 700; margin-bottom: 20px;}
    .companyPage .contactUsArea dl{display: flex; font-size: 20px; line-height: 1.6;}
    .companyPage .contactUsArea dl:last-of-type{margin-bottom: 90px;}
    .companyPage .contactUsArea dl dt{width: 85px; font-weight: 500;}
    .companyPage .contactUsArea a{display: block; width: 250px; line-height: 80px; margin: 0 auto; font-size: 26px; font-weight: 500; color: white; text-align: center; background-color: black;}


    /* 기술 technology */
    .subPage.technologyPage > section{text-align: center;}

    /* 기술 technology - 마이크로바이옴 */
    .subPage.technologyPage .microArea .imgBox{background-image: url('../images/technology-microbe-img01.png'); height: 244px;}
    /* 기술 technology - 마이크로바이옴 치료제 */
    .subPage.technologyPage .remedyArea .imgBox{background-image: url('../images/technology-microbe-img02.png'); height: 613px;}

    /* 기술 technology - 핵심기술 */
    .subPage.technologyPage .coreArea .imgBox{background-image: url('../images/technology-core-img01.png'); height: 1447px;}

    /* 기술 technology - E-플렛폼 */
    .subPage.technologyPage .E-Area .imgBox{background-image: url('../images/technology-e-img01.png'); height: 1040px;}


    /* 관로 pipeline */
    .subPage.pipelinePage > section{text-align: center;}

    /* pipeline - 암 */
    .subPage .cancerPage dl{font-size: 22px; line-height: 50px; width: 100%; max-width: 760px; margin: 0 auto; display: flex; border: 3px solid #751986; border-radius: 100px; margin-bottom: 50px;}
    .subPage .cancerPage dl dt{flex-shrink: 0; width: 220px; font-weight: 500; color: white; background-color: #751986; border-radius: 100em;}
    .subPage .cancerPage dl dd{flex: 1;}

    /* pipeline - 염증성 장 질환 (IBD) */
    .subPage .IBDPage .CDUCArea{display: flex; justify-content: space-between; text-align: left;}
    .subPage .IBDPage .CDUCArea li{width: 48.33%; min-height: 700px; padding: 80px 70px; box-sizing: border-box; background-color: #fafafa; background-repeat: no-repeat; background-position: right 60px bottom 60px;}
    .subPage .IBDPage .CDUCArea li:nth-child(1){background-image: url('../images/pipeline-IBD-CD.png');}
    .subPage .IBDPage .CDUCArea li:nth-child(2){background-image: url('../images/pipeline-IBD-UC.png');}
    .subPage .IBDPage .CDUCArea li strong{display: block; font-size: 60px; margin-bottom: 30px;}
    .subPage .IBDPage .CDUCArea li b{display: block; font-size: 32px; font-weight: 500; line-height: 1.4; margin-bottom: 20px;}
    .subPage .IBDPage .CDUCArea li p{font-size: 20px; line-height: 1.5;}
    .subPage .IBDPage dl{width: 100%; max-width: 1000px; margin: 0 auto; padding: 40px 0 30px; border: 3px solid #751986; border-radius: 1000px; font-size: 20px;  position: relative; margin-top: 50px;}
    .subPage .IBDPage dl dt{position: absolute; left: 5%; top: 0; padding: 0 40px; font-weight: 500; color: white; line-height: 46px; background-color: #751986; border-radius: 100em; transform: translateY(-50%);}
    .subPage .IBDPage dl dd{color: #751986; line-height: 1.6;}
    .subPage .IBDPage dl.case01{display: flex; justify-content: center; align-items: center;}
    .subPage .IBDPage dl.case01 dd:not(:last-child):after{content: '|'; padding: 0 30px;}


    /* 직업 */
    /* 직업 - 제도 또는 근무환경 */
    .policyPage .policyArea{display: flex; flex-wrap: wrap; text-align: center;}
    .policyPage .policyArea li{width: calc(100% / 3); height: 300px; padding: 70px; box-sizing: border-box;}
    .policyPage .policyArea li:not(:nth-child(3n)){border-right: 1px solid #d4bcd9;}
    .policyPage .policyArea li:nth-child(-n + 6){border-bottom: 1px solid #d4bcd9; position: relative;}
    .policyPage .policyArea li:nth-child(-n + 6)::after{content: ''; position: absolute; right: 0; bottom: 0; width: 40px; height: 40px; background-color: white; transform: translate(50% , 50%); z-index: 1;}
    .policyPage .policyArea li img{margin-bottom: 10px;}
    .policyPage .policyArea li p{font-size: 20px; line-height: 1.3; text-align: center;}


    /* etc */
    .etcPage :is(.questionArea , .privacyArea) :is(legend , h2){font-size: 42px; font-weight: 700; margin-bottom: 50px;}
    /* etc -  문의 */
    .etcPage .questionArea{max-width: 540px; margin: 0 auto; text-align: center;}
    .etcPage .questionArea fieldset ul{text-align: left; margin-bottom: 40px;}
    .etcPage .questionArea fieldset ul li:not(:last-child){margin-bottom: 30px;}
    .etcPage .questionArea fieldset ul li > label{display: block; font-size: 22px; font-weight: 500; color: #333333; margin-bottom: 15px;}
    .etcPage .questionArea fieldset ul li :is(input , textarea){border: 1px solid #cccccc; border-radius: 10px; box-sizing: border-box;}
    .etcPage .questionArea fieldset ul li > *:nth-child(2){width: 100%; font-size: 25px; line-height: 60px; padding: 0 10px; }
    .etcPage .questionArea fieldset ul li textarea{resize: none; min-height: 200px; margin-bottom: 15px;}
    .etcPage .questionArea fieldset ul li div{display: flex; align-items: center;}
    .etcPage .questionArea fieldset ul li div input[type="checkbox"]{width: 24px; height: 24px; margin-right: 10px;}
    .etcPage .questionArea fieldset ul li div label{font-size: 20px; font-weight: 500; color: #333333;}
    .etcPage .questionArea fieldset ul li.required > label::after{content: '*'; color: #eb3654;}


    /* etc -  개인정보처리방침 */
    .etcPage .privacyArea h2{padding-bottom: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
    .etcPage .privacyArea h2 small{display: block; font-size: 20px; font-weight: 400; margin-top: 20px;}
    .etcPage .privacyArea h2 ~ *{font-size: 20px; line-height: 1.6;}
    .etcPage .privacyArea h2 ~ * b{font-weight: 500;}
    .etcPage .privacyArea p{margin-bottom: 40px;}
    .etcPage .privacyArea ol{list-style: decimal; list-style-position: inside;}
}